<div class="row">
  <p-card header="Create User">
    <form [formGroup]="form">
      <div style="display: flex; flex-direction: column">
        <div class="p-inputgroup">
          <label class="p-inputgroup-addon">Contact Type</label>
          <p-select
            [options]="userContactTypes"
            formControlName="userContactType"
            id="userContactType"
            [style]="{ 'min-width': '50%' }"
          ></p-select>
        </div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">Contact</span>
          <input pInputText formControlName="userContactValue" placeholder="e.g., test@test.com" id="userContactValue" />
          @if (f('userContactValue').dirty) {
            @if (f('userContactValue').errors?.['required']) {
              <span style="color: red">Contact is Required</span>
            }
            @if(f('userContactValue').errors?.['email']) {
              <span style="color: red">Please enter a valid email address</span>
            }
          }
        </div>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">Full name</span>
          <input pInputText formControlName="userFullName" id="userFullName" placeholder="e.g., Tom Smith" />
          @if(f('userFullName').dirty){
            @if(f('userFullName').errors?.['required']) {
              <span style="color: red" >Full name is Required</span>
            }
            @if(f('userFullName').errors?.['minlength']) {
              <span style="color: red" >Please enter a longer name</span>
            }
            @if(f('userFullName').errors?.['maxlength']) {
              <span style="color: red" >Please enter a shorter name</span>
            }
          }
        </div>
      </div>
      <div>
        <p-button pRipple styleClass="p-button-raised" (click)="createUser()">Create user</p-button>
        <p-button pRipple styleClass="p-button-raised" routerLink="/public/login">Cancel</p-button>
      </div>
    </form>
  </p-card>
</div>
