
#warden-user-profile-main-title {
  font-weight: bolder;
}

#warden-user-profile-content {
  display: flex;
  flex-direction: column;
}

#warden-user-profile-user-id-section {
  font-weight: bolder;
}

#warden-user-profile-full-name-section {}

#warden-user-profile-contacts-section {}

#warden-user-profile-web-authn-section {}

#warden-user-profile-add-new-section {
  display: flex;
  flex-direction: row;
}

#warden-user-profile-roles-section {

}

#warden-user-profile-time-remaining-section {

}
