
<p-dialog [header]="normalHeader" [closable]="false"
          [modal]="false" [visible]="processMonitorService.hasStandardProcesses()()" position="bottom" [style]="{ width: '90rem' }">

  <div style="display: flex; flex-direction: row; width: 100%" *ngFor="let pm of processMonitorService.standardProcesses()().processes">
      <div style="display: flex; flex-direction: column; width: 50%; gap: 2px">
        <div style="font-weight: bolder">{{pm.input().label}}</div>
        <div style="font-style: italic; margin-left: 15px">{{pm.input().detail}}</div>
      </div>
      <div *ngIf="pm.input().percentComplete" style="min-width: 50vw">
        <p-progress-bar [value]="pm.input().percentComplete" />
      </div>
  </div>

</p-dialog>
