name: Build and Deploy Alpha Library

on:
  push:
    tags:
      - "alpha-*"

env:
  NODE_OPTIONS: --max_old_space_size=8192

jobs:
  build-and-deploy-alpha-library:
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure environment
        uses: ./.github/workflows/actions/build-env-setup
        with:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Clean
        run: yarn clean
        shell: bash

      - name: Build
        run: yarn build
        shell: bash

      - name: Run Tests (Conditionally)
        if: env.SKIP_TESTS != 'true'
        run: |
          yarn test
        shell: bash

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Apply Github Info
        run: yarn apply-github-info
        shell: bash

      - name: Set Codependency versions
        run: yarn set-codependencies-alpha
        shell: bash

      - name: Deploy to NPMJS
        run: yarn publish-alpha
        shell: bash
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

