name: 'Node Setup'
description: 'Initial setup for node'
inputs:
  NPM_AUTH_TOKEN:
    description: 'NPM_AUTH_TOKEN'
    required: true

runs:
  using: "composite"
  steps:
    - uses: ./.github/workflows/actions/commit-comment-flags
    - uses: ./.github/workflows/actions/job-setup
    
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        cache: "yarn"
        node-version: "16"
        registry-url: 'https://registry.npmjs.org'

    - name: Setup NPM token
      shell: bash
      run: >
        echo "npmAuthToken: \"${{ NPM_AUTH_TOKEN }}\"" >> ~/.yarnrc.yml

    - name: Check NPM token
      shell: bash
      run: cat  ~/.yarnrc.yml

    - name: Set Node Memory flags
      run: echo "NODE_OPTIONS=\"--max_old_space_size=8192\"" >> $GITHUB_ENV
      shell: bash

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: "temurin"
        java-version: "11"

    - name: Yarn install
      run: yarn install --frozen-lockfile
      shell: bash
